<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <title>Sign IN</title>
    <link rel="stylesheet" type="text/css" href="{% static 'delivery/styles.css' %}">
</head>
<body>
    <h3>SIGN IN below:</h3>

    <form action="{% url 'signin' %}" method="post">
        {% csrf_token %}
        <label>Username </label>
        <input type="text" name="username" required>
        <br><br>
        <label>Password </label>
        <input type="password" name="password" required>
        <br><br>
        <button type="submit">SIGN IN</button>
    </form>
</body>
</html>